anthropic==0.102.0
fire==0.7.1
nltk==3.9.4
numpy==2.2.6
openai==2.20.0
setuptools==75.8.0
tiktoken==0.13.0
torch==2.7.0
tqdm==4.67.1
transformers==5.2.0
python-dotenv==1.2.1
google-genai==1.62.0
xai-sdk==1.12.2
